<div class="main-container" (appClickOutside)="onOutsideClick()">
  <div class="first-container">
    <div class="first-sub-container">
      <div class="styling-container">
        <div class="name-and-dev-container">
          <div class="name-socials-container">
            <div class="hi-container">
              <p class="margin-0-rem">
                {{dataService.greetingText}}
              </p>
            </div>
            <div class="name-container">
              <h1 class="margin-1-rem">{{dataService.name}}</h1>
            </div>
            <div class="dev-container">
              <h1 class="margin-1-rem">{{dataService.role}}</h1>
            </div>
          </div>
          <div class="socials-container">
            <div class="social" *ngFor="let social of dataService.socials">
              <button>
                <a href="https://github.com/sameendraK" target="_blank">
                  <p>{{social}}</p>
                </a>
              </button>
            </div>
          </div>

        </div>

        <p class="margin-0-rem">with</p>
        <h1 class="margin-1-rem">{{dataService.yoe}}</h1>
        <p class="margin-0-rem">{{dataService.specializingIn}}</p>
        <div class="list flex-wrap-wrap display-flex justify-content-between">
          <div class="items-list">
            <div *ngFor="let item of dataService.skills">
              <!-- <li> -->
              <h3>{{item}}</h3>
              <!-- </li> -->
            </div>
          </div>
          <div class="experience-container">
            <div class="experience-heading-container">
              <h1>
                {{dataService.experiencesString}}
              </h1>
            </div>
            <div class="meditab-exp-container text-align-center" *ngFor="let exp of dataService.experiences">
              <h2>{{exp}}</h2>
            </div>
          </div>
          <div class="projects-container text-align-center">
            <div class="projects-heading-container">
              <h1>{{ dataService.projectsString }}</h1>
            </div>

            <div class="meditab-exp-container text-align-center"
              *ngFor="let project of dataService.projects; let i = index" style="position: relative;">
              <h2 class="margin-1-rem">
                {{ project.name }}
                <!-- Info Icon -->
                <span class="info-icon" (click)="toggleTooltip(i)" style="cursor: pointer; margin-left: 0.5rem;"
                  title="View Details">ℹ️</span>
              </h2>

              <!-- Tooltip -->
              <div *ngIf="selectedIndex === i" class="tooltip" appTooltip>
                {{ project.details }}
              </div>
            </div>
          </div>

        </div>
        <ng-container #iemoProjectExperience>
          <p>This section is for IEMO experience</p>
        </ng-container>

      </div>
    </div>
  </div>
</div>