<div class="main-container">
  <div class="first-container">
    <div class="first-sub-container">
      <div class="styling-container">
        <p>
          Hi there, I am
        </p>
        <h1>Sameendra Krovvidi</h1>
        <div>
        </div>
        <h1>Frontend Developer</h1>
        <p>with</p>
        <h1>3+ years</h1>
        <p>of experience speializing in</p>
        <div class="list display-flex justify-content-between">
          <div class="items-list">
            <ul>
              <li>
                <h3>Angular</h3>
              <li>
                <h3>React</h3>
              </li>
              <li>

                <h3>JS</h3>
              </li>
              <li>
                <h3>HTML</h3>
              </li>
              <li>
                <h3>CSS</h3>
              </li>
              <li>
                <h3>Unqork</h3>
              </li>
            </ul>
          </div>
          <div class="experience-container">
            <div class="experience-heading-container">
              <h1>
                Experiences
              </h1>
            </div>
            <div class="meditab-exp-container text-align-center">
              <h2>Meditab</h2>
            </div>
            <div class="aiden-ai-exp-container text-align-center">
              <h2>Aiden AI</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="second-sub-container">
      <div class="photo">
        <!-- <img src=".././assets/srt.jpg"> -->
      </div>
    </div>
  </div>
  <p>

  </p>
</div>