.main-container {
    .first-container {
        .first-sub-container {
            .styling-container {
                padding: 1rem;
                animation: gradientBackground 5s ease infinite;
                background: linear-gradient(-45deg, #588e16, #40d8b2, #2284b2, #69076d);
                background-size: 400% 400%;
                /* max-width: 50%; */
                border-radius: 30px;
                color: #EEEEEE;
                margin: 2rem;
                // box-shadow: 2px 2px 10px #D84040;
                background-color: rgba(0, 0, 0, 0.3); // subtle see-through
                backdrop-filter: blur(10px);

                .list {}

                .name-and-dev-container {
                    display: flex;
                    justify-content: space-between;

                    .name-socials-container {
                        // width: 70%;

                        .hi-container {}

                        .name-container {}

                        .dev-container {}
                    }
                }

                .socials-container {
                    // width: 30%;
                    display: flex;
                    justify-content: space-evenly;

                    .github {}

                    .linkedin {}
                }
            }

            .repos-links {
                .repo-links {
                    a {
                        color: white;
                        font-family: "Montserrat", serif;
                        font-optical-sizing: auto;
                        //   font-weight: <weight>;
                        font-style: normal;
                    }
                }
            }
        }
    }
}

.display-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-around;
}

.text-align-center {
    text-align: center;
}

li>h3 {
    margin: 0.5rem;
}

.margin-0-rem {
    margin: 0rem;
}

.margin-1-rem {
    margin: 1rem;
}

a {
    // text-decoration: none;
    color: rgb(94, 132, 94);
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.tooltip {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 250px;
    color: black
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}