<div class="main-container">
  <span>
    <p>
      Hi there, I am
    </p>
    <h1>Sameendra Krovvidi</h1>
    <span>
    </span>
    <h1>Frontend Developer</h1>
    <p>with 3+ years of experience speializing in</p>
    <ul>
      <li>
        <h2>Angular</h2>
      <li>
        <h2>React</h2>
      </li>
      <li>

        <h2>JS</h2>
      </li>
      <li>
        <h2>HTML</h2>
      </li>
      <li>
        <h2>CSS</h2>
      </li>
      <li>
        <h2>Unqork</h2>
      </li>
    </ul>
  </span>
  <p>

  </p>
  <img src=".././assets/srt.jpg">
</div>