/* You can add global styles to this file, and also import other style files */
p,
h1,
h2 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    //   font-weight: <weight>;
    font-style: normal;
}